#contactNav {
    display: flex;
    align-items: center;
}

/* left section */
#myList {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    padding: 0;
}


#myList2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
    margin-left: auto;
    list-style: none;
}

#myList2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
}