#centerText {
    background-color: #313131;
}

#centerText h2 {
    font-size: 35px;
    margin: 10px;
}

#centerText p {
    font-size: 20px;
}

#reviwerSection {
    background-color: yellow;
}

#reviewerGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.reviewerInfo {
    background-color: navy;
}

#form {
        background-color: #313131;
        height: 600px;
}