#centerText {
    background-color: #313131;
}

#centerText h2 {
    font-size: 35px;
    margin: 10px;
}

#centerText p {
    font-size: 20px;
}

#reviewerSection {
    background-color: #313131;
}

#reviewerGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 10px solid red; */
    font-size: 20px;
}

.reviewerInfo {
    background-color: navy;
    /* border: 5px solid black; */
    margin: 5px;
}

.reviewerInfo h3 {
    text-align: start;
}

.reviewerInfo p {
    text-align: start;
    margin: 0;
}
#formSection {
    background-color: aqua;
}

#form {
        background-color: orange;
        height: 100%;
}