#MainPage {
    height: auto;
}

#centerText {
    background-color: #31313100;
}

#centerText p {
    font-size: 20px;
}

#centerText h2 {
    font-size: 35px;
    margin: 10px;
}

#ReviewsDisplay {
    border: 3px solid #000000;
    background-color: #272727;
    height: auto;
    width: 70%;
    margin-left: 15%;
    padding: 1%;
}

#MovieReview {
    border: 3px solid #000000;
    background-color: hsla(0, 0%, 47%, 0.514);
    height: 75%;
    display: flex;
    justify-content: center;
}

#MoviePoster {
    border: 3px solid #000000;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#MoviePoster img {
    height: 77.5%;
    width: 87.5%;
    margin: 10%;
    border: 3px solid #000000;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

#MoviePoster img:hover {
    transform: translateY(2%) scale(1.125);
}

#ReviewBox {
    border: 3px solid #000000;
    height: 260px;
    width: 100%;
}

#ReviewBox h2 {
    border-bottom: 3px solid #000000;
    margin-top: -0.25%;
    padding: 0.5%;
    text-shadow: 2px 2px #000000;
}

#ReviewBox h3 {
    border-bottom: 3px solid #000000;
    margin-top: -2.5%;
    padding: 0.5%;
    text-shadow: 2px 2px #000000;
}

#ReviewBox #ReviewRating {
    font-size: 100%;
    border-bottom: 3px solid #000000;
    margin-top: -2%;
    text-shadow: 1.5px 1.5px #000000;
}

#ReviewBox #FullReview {
    overflow-wrap: break-word;
    font-size: 100%;
    height: 31.5%;
    text-shadow: 1.5px 1.5px #000000;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1000px) {
    #ReviewsDisplay {
        width: 100%;
        margin-left: 0%;
        padding: 0%;
        padding-top: 1%;
    }

    #MovieReview {
        height: 75%;
        width: 100%;
        display: inline-block;
    }

    #MoviePoster {
        width: 100%;
        height: 350px;
        border: none;
    }

    #MoviePoster img {
        height: 280px;
        width: 200px;
    }

    #MoviePoster img:hover {
        transform: translateY(2%) scale(1.125);
    }

    #ReviewBox {
        border: 3px solid #000000;
        height: 200px;
        width: 100%;
    }

    #ReviewBox #FullReview {
        padding-right: 1%;
        padding-left: 1%;
    }
}