#MainPage {
    height: 1400px;
}

#centerText {
    background-color: #313131;
}

#centerText p {
    font-size: 20px;
}

#centerText h2 {
    font-size: 35px;
    margin: 10px;
}

#MoviesDisplay {
    background-color: #272727;
    height: 1200px;
    padding: 1%;
}

#MoviesDisplay p {
    border: 3px solid #000000;
    font-size: 30px;
    background-color: #777777;
    height: 40px;
    padding: 1%;
    margin: 0px;
}

#MovieGenreOptions {
    height: 600px;
}

#MovieGenreOptions ul {
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    background-color: #777777;
    height: 450px;
}

#MovieGenreOptions li {
    display: inline-block;
    list-style-type: none;
    margin: 1%;
}

#MoviePoster {
    height: 400px;
    width: 250px;
    border: 3px solid #000000;
    transition: width 0.35s, height 0.35s;
}

#MoviePoster:hover {
    height: 450px;
    width: 280px;
}