#MainPage {
    height: auto;
}

#centerText {
    background-color: #31313100;
}

#centerText p {
    font-size: 20px;
}

#centerText h2 {
    font-size: 35px;
    margin: 10px;
}

#ReviewsDisplay {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
    margin-left: 15%;
    padding: 1%;
    gap: 1rem;
}

.MovieReview {
    border: 3px solid #969696;
    border-radius: 4px;
    background-color: #373737;
    height: 75%;
    display: flex;
    justify-content: center;
}

.MoviePoster {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MoviePoster img {
    height: 77.5%;
    width: 87.5%;
    margin: 10%;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    border-radius: 3px;
}

.MoviePoster img:hover {
    transform: translateY(2%) scale(1.125);
}

.ReviewBox {
    height: 260px;
    width: 100%;
}

.ReviewBox h2 {
    margin-top: -0.25%;
    padding: 2%;
}

.ReviewBox h3 {
    margin-top: -2.5%;
    padding: 0.5%;
}

.ReviewBox .ReviewRating {
    font-size: 100%;
    margin-top: -2%;
    color: greenyellow;
}

#wicked .ReviewRating, 
#jumpstreet .ReviewRating, 
#starwarsIV .ReviewRating {
    font-size: 100%;
    margin-top: -2%;
    color: red;
}

#infinitywar .ReviewRating, 
#kungfupanda .ReviewRating, 
#terminator .ReviewRating {
    font-size: 100%;
    margin-top: -2%;
    color: orange;
}

.ReviewBox .FullReview {
    overflow-wrap: break-word;
    font-size: 100%;
    height: 31.5%;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1000px) {
    #ReviewsDisplay {
        width: 100%;
        margin-left: 0%;
        padding: 0%;
        padding-top: 1%;
    }

    .MovieReview {
        height: 75%;
        width: 100%;
        display: inline-block;
    }

    .MoviePoster {
        width: 100%;
        height: 350px;
    }

    .MoviePoster img {
        height: 280px;
        width: 200px;
    }

    .MoviePoster img:hover {
        transform: translateY(2%) scale(1.125);
    }

    .ReviewBox {
        height: 200px;
        width: 100%;
    }

    .ReviewBox .FullReview {
        padding-right: 1%;
        padding-left: 1%;
    }
}