body {
    background-image: url(images/Background.jpg);
    background-size: 100%;
}

header, nav, main, footer {
    border: 2px solid #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-shadow: 3px 3px #000000;
}

#wrapper{
	box-shadow: 5px 5px 5px black;
}

header{
    background-color: #b8b58d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: 25px;
    height: 150px;
}

nav {
    background-color: #474747;
    height: 60px;
}

li {
    list-style-type: none;
    display: inline;
    float: left;
    padding-right: 5px;
    text-shadow: 2px 2px #000000;
    font-size: 20px;
}

li a {
    background-color: #6fb369;
    border: 3px solid #000000;
    color: #ffffff;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

li a:link, #ExampleLink:link {
    background-color: #313131;
}

li a:hover, #ExampleLink:hover {
    background-color: #6fb369;
    border: 3px solid #000000;
}

#MainPage {
    background-color: #5c5c4a;
    height: 800px;
}

#mainContent {
    width: 95%;
    margin: 30px 2.5%;
}

footer {
    background-color: #000000;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

/*
This portion is for small screens
@media (max-width: 1000px) {

    #wrapper{
        box-shadow: 5px 5px 5px black;
        margin-left: 0%;
        margin-right: 0%;
    }

    li a {
        padding: 15px 2px 15px 2px;
    }
    
    #mainContent {
        width: 100%;
        margin: 30px 0%;
    }
}
*/