#CenterText {
    background-color: #313131;
}

#CenterText p {
    font-size: 20px;
}

#CenterText h2 {
    font-size: 35px;
    margin: 10px;
}

#MoviesDisplay {
    background-color: #272727;
    height: 600px;
}